.header {
  background-color: rgb(0, 37, 107);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 90px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
  column-gap: 10px;
}
.header a {
  color: rgb(255, 208, 0);
}
.header div {
  position: relative;
  transition: 0.2s;
  text-align: center;
  border-radius: 2px;
  font-size: 30px;
  transition: 0.2s;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 30px;
  padding-right: 30px;
}
.header div:hover {
  background-color: rgb(0, 99, 138);
  color: rgb(255, 228, 106);
}
#home {
  padding: 0px;
  margin-left: 100px;
}
.navLogo {
  height: 80px;
  min-width: 120px;
  object-fit: cover;
  padding: 5px;
  vertical-align: middle;
}
.search-bar {
  font-size: 24px;
  border-radius: 2px;
  max-width: 300px;
  width: 0;
  flex: 1;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
}
