.keeb {
  width: 49%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 10px;
  }
.keeb1 {
  width: 99%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 10px;
  }
.keeb , .keeb1 {
  pointer-events: none;
}